@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-family: "Roboto";
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 0;
}

p.article-paragraph {
  font-size: 18px;
  line-height: 1.6em;
  margin-bottom: 30px;
}

p.article-index {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.index-articles {
  margin-bottom: 25px;
}

.footer-text {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  padding-bottom: 10px;
}

h1 {
  font-family: "Roboto Slab", serif;
  color: #1e1e1e;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 1px;
  font-weight: 800;
  text-align: left;
}

h1 .headline.recent {
  color: #009376;
  text-align: center;
  font-size: 35px;
  margin-bottom: -2.5px;
}

h2 {
  font-family: "Roboto";
  text-align: left;
  color: #404040;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 20px 20px;
}

h2 .headline.recent {
  color: #009376;
  text-align: center;
  font-size: 35px;
  margin-bottom: -2.5px;
}

h2.place-open {
  margin-bottom: 30px;
}

h3 {
  font-family: "Roboto Slab", serif;
  text-align: left;
  color: #404040;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 20px 20px;
}

h3.index-page {
  font-size: 12px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: 0;
}

h4 {
  font-family: "Roboto Slab", serif;
  color: #404040;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  text-align: left;
  margin-bottom: 10px;
  text-decoration: none;
}

h5 {
  font-family: "Roboto Slab", serif;
  color: #404040;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  text-align: left;
  margin-bottom: 10px;
  text-decoration: none;
}

span.first-word {
  font-family: "Roboto";
  font-size: 28px;
  font-weight: bold;
  color: #2b2b2b;
}

a {
  -webkit-tap-highlight-color: transparent;
}

nav a:hover,
nav a:visited,
nav a:link,
nav a:active {
  color: #0fffd0;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color: #0fffd0;
}

li a:hover,
li a:visited,
li a:link,
li a:active {
  font-family: "Roboto";
  color: #0fffd0;
  text-decoration: none;
}

li a:hover,
li a:focus {
  color: #383838;
}

ul a:hover,
ul a:visited,
ul a:link,
ul a:active {
  text-decoration: none;
}

.header-container {
  height: 0;
}

header {
  position: fixed;
  background-color: #ff4b9c;
  width: 100%;
  height: 55px;
  margin: 0 auto;
  top: 0;
  z-index: 999;
  -webkit-box-shadow: 0 0 5px 5px #87003c;
  box-shadow: 0 0 6px #87003c;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  height: 55px;
}

img.header-logo {
  margin-top: 3%;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  width: 45vw;
}

nav {
  width: 100vw;
  overflow: hidden;
  left: 0;
  height: 0;
  -webkit-transition: height ease-in-out 1s;
  transition: height ease-in-out 1s;
}

nav ul li {
  margin-top: 20px;
}

nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  padding: 5px;
  margin: 5px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

nav.is-active {
  height: 100vh;
}

.nav-links {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  /* only to show when class is added */
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(255, 255, 255, 0)),
    to(#ff4b9c)
  );
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #ff4b9c);
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  list-style: none;
}

.is-active {
  /*only shows when class is added */
  -webkit-transition: -webkit-transform 1.25s;
  transition: -webkit-transform 1.25s;
  transition: transform 1.25s;
  transition: transform 1.25s, -webkit-transform 1.25s;
  transition: transform2, -webkit-transform 1.25s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.searchbar-wrapper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  height: 20px;
  margin-top: -85px;
}

.search-input-form {
  display: none;
}

.search-input-form.search-active {
  display: contents;
}

.searchbar-wrapper.search-active {
  margin-top: 0;
}

input {
  height: 55px;
  width: 96vw;
  background-image: url("../svg/search_icon.svg");
  background-size: 35px 35px;
  background-position-y: center;
  background-repeat: no-repeat;
  border: solid #ff4b9c 2px;
}

input[type="text"] {
  font-size: 25px;
  padding-left: 10vw;
}

.input-holder {
  background-color: #ff4b9c;
  padding: 10px 16px 10px 16px;
  -webkit-box-shadow: 0 15px 10px -15px #87003c;
  box-shadow: 0 15px 10px -15px #87003c;
}

img.searcher-icon {
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  height: 20px;
  width: auto;
  right: 0;
  top: 0;
  margin-top: 18px;
  margin-right: 15px;
}

button.hidden-button {
  display: none;
  visibility: hidden;
}

.hamburger {
  position: absolute;
  padding: 13px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  outline: none;
  margin: 0;
  margin-top: 4px;
  overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #0fffd0;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #0fffd0;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
  transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease,
    -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease,
    -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease,
    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease,
    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease,
    -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease,
    -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease,
    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease,
    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.polaroid-collection-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 55px;
}

.article-banner {
  width: 100%;
  height: auto;
  max-height: 500px;
  display: block;
  margin-bottom: 5px;
}

.divider {
  color: #ffc3de;
  border-top: solid 2px;
  height: 1px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.divider.article {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px 30px 20px;
}

.flex-wrapper.index-page {
  margin-top: 30px;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  margin-right: 0;
}

.article-title-container {
  margin: 85px 20px 30px 20px;
}

.article-title-container.polaroid-collection-banner-margin {
  margin-top: 0px;
  margin-left: 20px;
}

/*---------------travel, polaroid grid---------*/
.gallery {
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  padding-bottom: 45px;
}

/* Adds backdrop shadow to polaroids*/
img.polaroid-shadow {
  -webkit-box-shadow: 10px 10px 13px 0px rgba(86, 86, 86, 0.3);
  box-shadow: 10px 10px 13px 0px rgba(86, 86, 86, 0.3);
  padding: 0;
}

a.polaroid-link:hover,
a.polaroid-link:visited,
a.polaroid-link:link,
a.polaroid-link:active {
  outline: none;
}

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes swinging {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.gallery-wall.polaroid-picture:hover img {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 2s linear forwards infinite;
  animation: swinging 2s linear forwards infinite;
}

.index-article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.polaroid-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.index-recent-posts-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 20px;
}

.article-photo-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

img.article-photo {
  justify-self: flex-start;
}

img.index-recent-posts-image {
  display: block;
  border: 5px solid black;
  max-height: 300px;
}

.description-container {
  margin-top: 15px;
  text-align: left;
}

a.search-link {
  text-decoration: none;
}

.place-open.search-page {
  margin: 30px 0 30px 0;
}

.flex-wrapper.search-page {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.search-result-card {
  max-width: 500px;
  margin-bottom: 30px;
}

img.search-image {
  height: auto;
  margin-bottom: 20px;
}

.search-title {
  text-align: left;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

p.search-description {
  font-size: 16px;
  margin-bottom: 0;
}

.center-result-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*----------------------------------footer----*/
.footer-wrapper {
  position: relative;
  bottom: 0;
}

footer {
  width: 100%;
  background-color: #0fffd0;
  height: auto;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}

img.iconic {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  padding: 5px;
  margin: 0 10px 0 10px;
}

ul.icon {
  padding: 0;
}

.icon-list {
  padding-top: 10px;
}

@media (min-width: 550px) {
  p {
    font-size: 18px;
  }
}

@media (min-width: 500px) {
  h4 {
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
}

@media (min-width: 600px) {
  .gallery {
    margin: 0 1.5em 0 1.5em;
  }
  .polaroid-picture {
    float: left;
    width: 50%;
    margin: 0 0 25px 0;
    padding: 10px;
  }
  @-webkit-keyframes swinging {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
    }
    75% {
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @keyframes swinging {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
    }
    75% {
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
}

.grid-wrapper {
  margin: 0 15px 60px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.grid-container {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  list-style: none;
  margin-top: -2px;
}

img.grid-photos {
  width: 50%;
  height: auto;
}

.grid-photos.expander {
  position: absolute;
  z-index: 99;
  text-align: center;
  height: auto;
  width: 88%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (min-width: 660px) {
  .footer-wrapper {
    position: relative;
    bottom: 0;
  }
}

@media (min-width: 765px) {
  li a {
    font-size: 35px;
  }
  .hamburger {
    margin-left: 0.85%;
  }
  .searchbar-wrapper.search-active {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  input[type="text"] {
    padding-left: 5vw;
    outline: 10px solid #ff4b9c;
  }
  .input-holder {
    padding: 16px;
    padding-bottom: 17px;
  }
  p.article-index {
    font-size: 16px;
    height: 100px;
  }
  .article-title-container {
    margin: 85px 80px 35px 80px;
  }
  .flex-wrapper {
    margin: 0 80px 60px 80px;
  }
  .banner-img {
    margin-top: 33px;
  }
  h1.place-open {
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 2.75px;
    margin-bottom: 35px;
  }
  h3 {
    margin-left: 50px;
  }
  p.article-paragraph {
    font-size: 20px;
    line-height: 1.6em;
  }
  .polaroid-picture {
    float: left;
    width: 50%;
    padding: 15px;
  }
  .travel-desc {
    bottom: 15%;
  }
  .divider.article {
    margin-bottom: 35px;
  }
  .index-article-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: auto;
    width: 100%;
  }
  .index-article-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 20px;
  }
  section.gallery {
    padding: 0;
    margin: 0;
  }
  .grid-wrapper {
    margin: 0 30px 80px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .grid-container {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    list-style: none;
    margin-top: -2px;
  }
  img.grid-photos {
    width: 50%;
  }
  .grid-photos.expander {
    position: absolute;
    z-index: 99;
    text-align: center;
    height: 601.8px;
    width: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  img.search-image {
    margin-bottom: 30px;
  }
  .search-title {
    text-align: left;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  p.search-description {
    font-size: 18px;
    margin-bottom: 0;
  }
  img.iconic {
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    padding: 5px;
    margin: 0 20px 0 20px;
  }
  .icon-list {
    padding-top: 10px;
  }
  .footer-text {
    font-size: 18px;
    line-height: 1.5rem;
    margin-top: 10px;
  }
}

@media (min-width: 800px) {
  img.header-logo {
    margin-top: 5px;
  }
}

@media (min-width: 830px) {
  h1.place-open {
    line-height: 65px;
    margin-bottom: 45px;
    margin-left: 0;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  h4.search-title {
    line-height: 45px;
  }
  p.article-paragraph {
    font-size: 18px;
    line-height: 1.8em;
    margin-bottom: 30px;
  }
  img.header-logo {
    max-width: 350px;
  }
  input[type="text"] {
    padding-left: 40px;
    width: 35vw;
  }
  .article-title-container {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
  }
  .flex-wrapper {
    margin-left: 100px;
    margin-right: 100px;
  }
  .article-photo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }
  .grid-photos.expander {
    width: 80%;
    height: auto;
  }
  section.gallery {
    margin-bottom: 100px;
  }
}

@media (min-width: 975px) {
  .article-title-container {
    margin-right: 50px;
  }
}

@media (min-width: 1000px) {
  h1.place-open {
    font-size: 75px;
    margin-bottom: 45px;
    line-height: 90px;
    margin-top: 45px;
    margin-left: 0;
  }
  h2 {
    margin: 0 0 50px 100px;
  }
  header {
    height: 75px;
  }
  .logo-container {
    height: 75px;
  }
  img.header-logo {
    margin-top: 6.5px;
  }
  .polaroid-collection-banner {
    margin-top: 75px;
  }
  .hamburger {
    margin-top: 11.75px;
    margin-left: 15px;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 45px;
    height: 6px;
  }
  .hamburger-inner::before {
    top: -15px;
  }
  .hamburger-inner::after {
    bottom: -15px;
  }
  img.searcher-icon {
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    margin-top: 27px;
    margin-right: 27px;
  }
  .header-logo {
    margin-top: -10px;
  }
  input[type="text"] {
    padding-left: 40px;
    width: 35vw;
  }
  .input-holder {
    padding: 15px;
  }
  section.gallery {
    margin-left: 12px;
    margin-right: 12px;
  }
  .article-title-container {
    margin: 125px 150px 85px 150px;
  }
  .divider.article {
    margin-bottom: 50px;
  }
  .polaroid-picture {
    width: 33.3333334%;
    padding: 30px 25px 15px 25px;
    margin-bottom: 0;
  }
  .gallery {
    margin: 20px;
  }
  p.article-paragraph {
    font-size: 24px;
  }
  .article-photo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 800px;
    margin-bottom: 35px;
  }
  .flex-wrapper {
    width: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
  }
  article {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .grid-container {
    width: 45vw;
  }
  .grid-photos.expander {
    width: 45vw;
    height: auto;
  }
}

@media (min-width: 1200px) {
  @-webkit-keyframes swinging {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
    }
    75% {
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @keyframes swinging {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
    }
    75% {
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
}

@media (min-width: 1300px) {
  .flex-wrapper {
    width: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media (min-width: 1500px) {
  .input-holder {
    margin-top: 15px;
  }
  .article-photo-container {
    margin-bottom: 35px;
  }
  .flex-wrapper {
    width: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 420px;
    margin-right: 420px;
  }
}
/*# sourceMappingURL=styles.css.map */
